.background-space {
    width: 350px;
    height: 1300px;
  }
.menu-space {
    width: 350px;
    height: 168px;
    background-color: #385ca3;
  }
.section-space {
    width: 200px;
    height: 571px;
    background-color: #385ca3;
  }
.text-space {
    width: 350px;
    height: 1300px;
    background-color: #385ca3;
  }
.text-menu {
    width: 71px;
    height: 120px;
    font-family: WorkSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #f6f7f9;
  }