.background-space {
    width: 350px;
    height: 1300px;
    background-color: #385ca3;
  }
.menu-space {
    width: 350px;
    height: 168px;
    background-color: #385ca3;
  }
.section-space {
    display: block; 
    padding-top: 4.5rem;
    margin: 0 auto;
    max-width: 200px;
    height: 571px;
    background-color: #385ca3;
   }
.text-space {
    width: 350px;
    height: 1300px;
    background-color: #385ca3;
  }
.ul{
    list-style: none;
  }
.menu-item{
    list-style: none;
  }
.menu-main-navigation-container ul, ul#menu-main-navigation {
    padding: 0 !important;
  }

.main-menu-container li a {
  display: inline-block;
  color: #fff !important;
  padding: 4px 0;
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: none;
}

.header-menu-button__button.active {
  background: 0 0;
}
button, html [type=button] {
  -webkit-appearance: button;
}
.header-menu-button__button {
  display: block;
  position: relative;
  padding: 0;
  border: 0;
  border-radius: 9px;
  width: 42px;
  height: 42px;
  background: 0 0;
}
button {
  cursor: pointer;
}
button, input, optgroup, select, textarea {
  font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}