@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'WorkSans', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: rgb(39,70,150);
  background: linear-gradient(0deg, rgba(39,70,150,1) 0%,
   rgba(49,84,160,1) 33%,
    rgba(107,166,220,1) 66%, 
    rgba(115,178,229,1) 100%);
    background-repeat:no-repeat;
    background-size: cover;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}