.background-faq {
    width: 1920px;
    height: 1080px;
    background-image: linear-gradient(to top, #6ba6dc, #3154a0);
  }
.white-logo {
    width: 216px;
    height: 89px;
  }
  .menu-line-symbol {
    width: 42px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ffffff;
  }
  .login-line {
    width: 79px;
    height: 30px;
    border-radius: 8px;
    border: solid 2px #ffffff;
    background-color: #ffffff;
  }
  .login-text {
    width: 42px;
    height: 9px;
    font-family: WorkSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .section-line {
    width: 1530px;
    height: 84px;
    border-radius: 8px;
    border: solid 2px #ffffff;
    background-color: #ffffff;
  }
  .section-main-text {
    width: 228px;
    height: 30px;
    font-family: WorkSans;
    font-size: 36px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .rectangle-symbole-space {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .plus-symbole {
    width: 19px;
    height: 22px;
    background-color: #385ca3;
  }
  .describe-text {
    width: 1149px;
    height: 53px;
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .create-line {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: solid 2px #ffffff;
    background-color: #ffffff;
  }
  .create-text {
    width: 113px;
    height: 19px;
    font-family: WorkSans;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #f6f7f9;
  }